src/main/resources/20190301/wsdl/OrganizationAuthenticationRenewService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 1996-2017 swissdec & itServe AG. All rights reserved.
    This software is the proprietary information of itServe AG as implementor for swissdec.
    Use is subject to license terms.

-->
<wsdl:definitions
        xmlns:oas="http://www.swissdec.ch/schema/oa/20190301/OrganizationAuthenticationRenewService"
        xmlns:oast="http://www.swissdec.ch/schema/oa/20190301/OrganizationAuthenticationServiceTypes"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        name="OrganizationAuthenticationService"
        targetNamespace="http://www.swissdec.ch/schema/oa/20190301/OrganizationAuthenticationRenewService">

    <!-- 31.07.2019  author: itServe, bfh
        intern: final-1.0.0 // FINAL
        business-view  = OK
        technical-view = final

        SVN keywords
        $Date:: 2020-06-12 14:42:58 +0200 (Fr., 12 Jun 2020)    $: Date of last commit
        $Revision:: 26766                                       $: Revision of last commit
        $Author:: flueckiger                                    $: Author of last commit

    -->

    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://www.swissdec.ch/schema/oa/20190301/OrganizationAuthenticationServiceTypes"
                       schemaLocation="OrganizationAuthenticationServiceTypes.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- CheckInterop -->
    <wsdl:message name="CheckInteroperabilityRequest">
        <wsdl:part name="parameters" element="oast:CheckInteroperability"/>
    </wsdl:message>
    <wsdl:message name="CheckInteroperabilityResponse">
        <wsdl:part name="parameters" element="oast:CheckInteroperabilityResponse"/>
    </wsdl:message>

    <!-- Renewal -->
    <wsdl:message name="CertificateRenewalRequest">
        <wsdl:part name="parameters" element="oast:RenewCertificate"/>
    </wsdl:message>
    <wsdl:message name="CertificateRenewalResponse">
        <wsdl:part name="parameters" element="oast:RenewCertificateResponse"/>
    </wsdl:message>

    <!-- Fault -->
    <wsdl:message name="OrganizationAuthenticationFault">
        <wsdl:part name="parameters" element="oast:OrganizationAuthenticationFault"/>
    </wsdl:message>

    <wsdl:portType name="OrganizationAuthenticationRenewPort">
        <wsdl:operation name="CheckInteroperability">
            <wsdl:input message="oas:CheckInteroperabilityRequest"/>
            <wsdl:output message="oas:CheckInteroperabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RenewCertificate">
            <wsdl:input message="oas:CertificateRenewalRequest"/>
            <wsdl:output message="oas:CertificateRenewalResponse"/>
            <wsdl:fault name="OrganizationAuthenticationFault" message="oas:OrganizationAuthenticationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrganizationAuthenticationRenewSOAPBinding" type="oas:OrganizationAuthenticationRenewPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CheckInteroperability">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RenewCertificate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OrganizationAuthenticationFault">
                <soap:fault name="OrganizationAuthenticationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="OrganizationAuthenticationRenewService">
        <wsdl:port name="OrganizationAuthenticationRenew" binding="oas:OrganizationAuthenticationRenewSOAPBinding">
            <soap:address
                    location="http://tst.itserve.ch/services/OrganizationAuthentication"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>